SUBSYSTEM=="usb",ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0003", ACTION=="/usr/bin/logger 'Raspberry Pi Pico connected. Device node: /dev/%k'"
#SUBSYSTEM=="usb",ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0003", ACTION=="add", RUN+="/bin/mount /dev/%k /media/jakub/pico"
#SUBSYSTEM=="usb",ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0003", ACTION=="add", RUN+="/usr/local/bin/mount_pico.sh"
